<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Um - N @yield('title')</title>
</head>
<body>
    <center>
        <form action="" method="POST">
            <input type="text" name="nome" id="" placeholder="Insira o nome da marca">
            <br>
            <input type="text" name="pais" id="" placeholder="Insira o país de marca">
            <br>
            <input type="text" name="ano" id="" placeholder="Insira o ano de surgimento">
            <br>
            <input type="submit" value="" placeholder="Enviar">
        </form>
    </center>
</body>
</html>